%footer.page-footer
	.l-container
		%nav.footer-nav
			%ul.nav-list
				%li.nav-item=link_to 'Contact Us', '#'
				%li.nav-item=link_to 'Find Our Locations', '#'
				%li.nav-item=link_to 'Social Media', '#'