%header.page-header
	.l-container
		.l-segment
			%a.m-logo{ :href => "#" }
				=image_tag '/placeholder/225x110/ececec/0066cc'
			%nav.m-main-nav#main-nav
				%ul.nav-list
					- for i in 1..5
						%li.nav-item=link_to lorem.words 2
