.footer-nav {
	@media (min-width: $small) {
		.nav-list {
			width: 80%;
			text-align: justify;
			margin: 0 auto;
			&:after {
				content: '';
				display: inline-block;
				width: 100%;
			}
		}
		.nav-item {
			@include inline-block;
			vertical-align: top;
			width: 24%;
			text-align: center;
		}
	}
}