a {
	// since outline was removed in base styles, consider indications for the following states
	&:hover {
		text-decoration: none;
	}
}

.m-logo {
	@media (min-width:$small) {
		margin: $vertical-space 0;
		@include inline-block;
	}
}
.m-main-nav {
	@media (min-width:$medium) {
		.nav-list {
			@include col-container;
		}
		.nav-item {
			font-size: $text-size;
			@include inline-block;
		}
	}
}

// footer nav that's stacked in mobile and inline on larger screens
.footer-nav {
	@media (min-width: $small) {
		.nav-list {
			width: 80%;
			text-align: justify;
			margin: 0 auto;
			&:after {
				content: '';
				display: inline-block;
				width: 100%;
			}
		}
		.nav-item {
			width: 24%;
			text-align: center;
			@include inline-block;
			vertical-align: top; // overrides vertical-align: middle; in the inline-block include
		}
	}
}