// sidebar and main content areas
.l-primary {
	@media(min-width:$medium) {
		width: $primary-percent-width;
	}
}
.l-sidebar {
	@media(min-width:$medium) {
		width: $sidebar-percent-width;
	}
	margin-top: 0;
}

// to make a container be the entire width of its container
.full-width {
	@media (min-width:$medium) {
		width: 100%;
		left: 0;
		display: block;
	}
}

// generic layout column
.l-col {
	@media (min-width:$small) {
		margin: 0;
	}
}

// creates a two-column layout
.l-halves {
	@media (min-width: $medium) {
		.l-col {
			width: 49.999999%;
		}
	}
}

.l-grid-item {
	@media (min-width:$smallest) {
		width: 49%;
	}
	@media (min-width:$small) {
		width: 32%;
	}
	@media (min-width:$medium) {
		width: percent(1, 5.5);
	}
}