!!! 5
<!--[if IE 8]>    <html lang="en" class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
%html{ :lang => "en", :class => "no-js" }
	<!--<![endif]-->
	
	- $siteTitle = "Yet Another Boilerplate"

	=partial "common/document-head", :locals => { :site_title => $siteTitle }

	%body{ :class => $bodyClass }
		= partial "common/header"
		#main.layout-container{ :role=>"main-content" }
			=yield
		= partial "common/footer"
