//================
// GRID COMPONENTS
//
// directions: uncomment the grid components needed
//================

// can be used to wrap nearly anything
.l-container {
	max-width: $outer-width;
	margin: 0 auto;
	@include clear;
	overflow: hidden;
}

#l-main {
	font-size: 0; // assumes children will be inline-block
	margin-bottom: 20px;
}

// reset header font size
header {
	font-size: $text-size;
}

// sidebar and main content areas
#l-sidebar, #l-primary {
	@include inline-block;
	vertical-align: top;
	font-size: $text-size;
	position: relative;
}
#l-primary {
	width: 77.999999%;
	left: 22%;
	// assumes a sidebar will be used. add class full-width if no sidebar is desired
	&.full-width {
		width: 100%;
		left: 0;
	}
	.l-container {
		margin-bottom: 20px;
		padding-bottom: 19px;
	}
	& + #l-sidebar {
		right: 77.999999%;
		width: 22%;
	}
}

// HEADER
#m-logo {
	display: block;
	float: left;
	max-width: 250px;
}
#m-main-nav {
	float: right;
	width: auto;
	ul {
		margin: 0;
		font-size: 0;
		float: right;
		text-align: right;
	}
	li {
		font-size: $text-size;
		@include inline-block;
	}
	a {
		display: block;
		padding: 6px 10px;
	}
}
// end header

// remove the whitespace between columns because of inline-block
.l-fifths, .l-quarters, .l-thirds, .l-halves {
	font-size: 0;
}

// insert the default font size back in
.l-col, .l-double-col {
	font-size: $text-size;
	@include inline-block;
	vertical-align: top;
}

// ===========================
// FIVE-COLUMN GRID
// ===========================
.l-fifths {
	.l-col {
		width: 19.999999%;
	}
}

// ===========================
// FOUR-COLUMN GRID
// ===========================
.l-quarters {
	.l-col {
		width: 24.999999%;
	}
}

// ===========================
// THREE-COLUMN GRID
// ===========================
.l-thirds {
	position: relative;
	.l-col {
		width: 33.333333%;
	}
	.l-double-col {
		width: 66.666666%;
	}
	// FAUX COLUMNS
	&.l-faux-columns:before { // full-height hack for thirds
		position: absolute;
		height: 100%;
		width: 0;
		left: 33.333333%;
		top: 0;
		content: '';
		display: block;
		border-right: 1px dotted;
	}
	&.l-faux-columns:after { // full-height hack for thirds
		position: absolute;
		height: 100%;
		width: 0;
		right: 33.333333%;
		top: 0;
		content: '';
		display: block;
		border-right: 1px dotted;
	}
	// END .faux-columns
}

// ===========================
// TWO-COLUMN GRID
// ===========================
.l-halves {
	position: relative;
	.l-col {
		width: 49.999999%;
	}
	&.l-faux-columns:before { // full-height hack for halves
		position: absolute;
		height: 100%;
		width: 0;
		left: 50%;
		top: 0;
		content: '';
		display: block;
		border-right: 1px dotted;
	}
}
