//================
// GRID COMPONENTS
//================

// can be used to wrap nearly anything
.l-container {
	max-width: $outer-width;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	width: 100%;
	padding: 0 $outer-padding;
	.l-container {
		padding: 0;
	}
}

.l-col-container {
	@extend .l-container;
	font-size: 0;
}

.segment {
	margin: $vertical-space 0;
}

.l-col {
	width: 100%;
	@include inline-block;
	vertical-align: top;
	font-size: $text-size;
	margin: $vertical-space 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.l-main {
	margin-bottom: $vertical-space;
}

.l-primary, .l-sidebar {
	@extend .l-col;
	.l-container ~ .l-container {
		margin-top: $vertical-space;
	}
}

.l-halves {
	@extend .l-col-container;
}

// HEADER
.m-logo {
	display: block;
}

.m-main-nav {
	.nav-item {
	}
	a {
		display: block;
		padding: 6px 10px;
	}
}
// end header

// end primary content