// ANCHORS
a {
	&.more:before {
		content: '»';
		position: relative;
		top: -1px;
		@include inline-block;
		padding-right: 4px;
		font-size: em(22px);
	}
}
// end anchors

// GENERIC CONTENT ELEMENTS
p, ul {
	margin: $vertical-space 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

// LISTS
.m-bullets {
	li {
		position: relative;
		padding-left: $base-font-size / 2;
		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			content: '•';
			line-height: $base-font-size * 1.3;
			display: block;
		}
	}
	ul {
		margin-left: $content-spacing;
	}
}
.inline-nav {
	font-size: 0;
	.nav-item {
		font-size: $text-size;
		@include inline-block;
	}
}
// end lists

// HEADERS
.m-hr-a {
	font-family: $serif;
	font-weight: normal;
	color: $text-color;
	padding: 0;
	margin: 0 0 $vertical-space;
	a {
		@include link-colors($text-color, $text-color, $text-color, $text-color, $text-color);
	}
}
.m-hr-b {
	font-family: $sans-serif;
	font-weight: lighter;
	color: $text-color;
	margin: 0 0 $vertical-space;
}
// end headers

// MEDIA ELEMENTS
.media-feature {
	width: 100%;
	.media-wrap {
		display: block;
		text-align: center;
		margin-bottom: $content-spacing;
	}
	.proceed {
		display: block;
		margin: $content-spacing 0;
	}
}

// preserves the aspect ratio of videos embedded via YouTube, Vimeo, etc.
.m-media-embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	object, embed, iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}