//=====================================
// for modules only found in the header
//=====================================
.page-header {
	margin-bottom: $vertical-space;
}

.m-logo {
	@include inline-block;
	margin: 0 0 $vertical-space $outer-padding;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.m-main-nav {
	background: #f1f1f1;
}