// GRID
// sidebar and main content areas
.l-primary {
	@media (min-width:$medium) {
		width: percent($primary-width, $outer-real-width);
		// to be used if there's no sidebar
		&.full-width {
			width: 100%;
			left: 0;
		}
	}
}
.l-sidebar {
	@media (min-width:$medium) {
		width: percent($sidebar-width, $outer-real-width);
	}
}
.l-sidebar ~ .l-primary {
	@media (min-width:$medium) {
		left: percent($sidebar-width, $outer-real-width);
	}
}
.l-halves {
	@media (min-width:$small) {
		position: relative;
		&.l-faux-columns:before {
			display: block;
			border-right: 1px dotted;
			content: '';
			position: absolute;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 49.999999%;
		}
		.l-col {
			width: 49.999999%;
		}
	}
}
// end grid

// GENERICS
a {
	// since outline was removed in base styles, consider indications for the following states
	&:hover {
		text-decoration: none;
	}
	&:active {

	}
	&:focus {

	}
}

// MEDIA FEATURE a.k.a. figure
.media-feature {
	@media (min-width:$medium) {
		float: right;
		margin: 0 0 8px 8px;
		max-width: 49.999999%;
		.caption, .proceed {
			font-size: $min-text-size;
		}
	}
}
// end media feature

// HEADER
.m-logo {
	@media (min-width:$small) {
		margin: $vertical-space 0;
		@include inline-block;
	}
}
.m-main-nav {
	@media (min-width:$medium) {
		.nav-list {
			font-size: 0;
		}
		.nav-item {
			@include inline-block;
			font-size: $text-size;
		}
	}
}
// end header

// end generics