// page footer area
.page-footer {
	border-top: 1px dotted;
	margin-top: $vertical-space;
}

// footer navigation
.footer-nav {
	text-align: center;
	.nav-list {
		@include inline-block;
		max-width: $sidebar-width;
	}
	.nav-item {
		display: block;
		text-align: left;
		padding: ($text-size / 2) 0;
	}
	a {
		@include min-font;
		padding: ($min-text-size / 2) 0;
	}
}
