// page footer area
.page-footer {
	border-top: 1px dotted;
	margin-top: $vertical-space;
}

// footer navigation
.footer-nav {
	text-align: left;
	.nav-item {
		display: block;
		text-align: left;
		padding: $content-spacing 0;
		@include min-font;
	}
	a {
		padding: $content-spacing 0;
	}
}
