// navigation
.m-main-nav {
	background: #f1f1f1;
	.nav-list {
		padding-left: 0;
	}
	.nav-item {
		list-style: none;
	}
	a {
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		padding: .5em .7em;
		@include transition-property("color");
		@include transition-duration($time-quick);
		@include transition-timing-function(ease-in-out);
		&:hover {
			color: $text-color;
		}
	}
}

// page header area
.page-header {
	margin-bottom: $vertical-space;
}

.m-logo {
	margin: 0 0 $vertical-space $outer-padding;
	margin: 0 auto;
	display: block;
	text-align: center;
	@include inline-block;
}

// page footer area
.page-footer {
	border-top: 1px dotted;
	margin-top: $vertical-space;
}

// footer navigation
.footer-nav {
	text-align: left;
	.nav-item {
		display: block;
		text-align: left;
		padding: $content-spacing 0;
		@include min-font;
	}
	a {
		padding: $content-spacing 0;
	}
}


// import the state for these modules
@import "../state/generics";