//=====================================
// for modules only found in the header
//=====================================
.page-header {
	margin-bottom: $vertical-space;
}

.m-logo {
	margin: 0 0 $vertical-space $outer-padding;
	margin: 0 auto;
	display: block;
	text-align: center;
	@include inline-block;
}

.m-main-nav {
	background: #f1f1f1;
	.nav-item {
	}
	a {
		display: block;
		padding: .5em .7em;
	}
}