// inline navigation items
.inline-list {
	font-family: $layout;
	@include minimized-list;
	.list-item {
		font-family: $serif;
		@include inline-block;
	}
}

.nav-group {
	padding-left: 0;
	list-style: none;
}

// import the state for these modules
@import "../state/lists";