* { @include box-sizing(border-box); }

body {
	font-family: $sans-serif;
	@include med-font;
	color: $text-color;
}

p, ul {
	margin: 0;
	* + & {
		margin: $vertical-space 0;
	}
}

a {
	outline: 0;
	@include link-colors($link-color, $link-color, $link-color, $link-color, $link-color);
}

// make images responsive
img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

object, embed, iframe, table {
	max-width: 100%;
}

table {
	width: 100%;
}

ul {
	padding: 0;
	list-style: none;
	li {
		margin-left: 0;
		padding-left: 0;
	}
	ul {
		margin-left: $base-font-size;
		margin-top: 0;
	}
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}