a {
	@include link-colors($link-color, $link-color, $link-color, $link-color, $link-color);
}

.m-hr-a {
	font-family: $sans-serif;
	font-weight: normal;
	color: $text-color;
	padding: 0;
	margin: 0;
	a {
		@include link-colors($text-color, $text-color, $text-color, $text-color, $text-color);
	}
}
.m-hr-b {
	font-family: $sans-serif;
	font-weight: lighter;
	color: $text-color;
	margin: 0;
}

// list styles tweaked slightly to allow for bullet appearance customization
.m-bullets {
	li {
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			content: '•';
			line-height: $base-font-size * $golden-ratio;
			display: block;
		}
	}
	ul {
		margin-left: $base-font-size;
	}
	@include minimized-list;
}

// design-y, so sticking in the theme
.m-main-nav {
	background: #ececec;
	@media (min-width:$medium) {
		.nav-item + .nav-item {
			border-left: 1px dotted #ccc;
		}
	}
}

// display styles for demoing evenly-spaced grid
.l-grid-item {
	background: #ececec;
	padding-bottom: percent(1, 5.5);
	margin-bottom: (1 / 7) * (1 / 7) * 100%;
}

// drop-shadow for bottom of element
.bottom-drop-shadow {
	position:relative;
	background: #fff;
	&:after {
		content:"";
		position:absolute;
		z-index:-1;
		bottom: 0;
		width: 90%;
		height: 50%;
		left: 5%;
		right: 5%;
		@include border-radius(100%);
		@include box-shadow(rgba(0,0,0,0.4) 0 0 4.8rem);
	}
}

// drop-shadow for top of element
.top-drop-shadow {
	position:relative;
	background: #fff;
	&:before {
		content:"";
		position:absolute;
		z-index:-1;
		top: 0;
		width: 90%;
		height: 50%;
		left: 5%;
		right: 5%;
		@include border-radius(100%);
		@include box-shadow(rgba(0,0,0,0.4) 0 0 4.8rem);
	}
}