a {
	@include link-colors($link-color, $link-color, $link-color, $link-color, $link-color);
}

.m-hr-a {
	font-family: $fontin;
	font-weight: normal;
	color: $text-color;
	padding: 0;
	margin: 0;
	a {
		@include link-colors($text-color, $text-color, $text-color, $text-color, $text-color);
	}
}
.m-hr-b {
	font-family: $fontin;
	font-weight: lighter;
	color: $text-color;
	margin: 0;
}

// list styles tweaked slightly to allow for bullet appearance customization
.m-bullets {
	li {
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			content: '•';
			line-height: $base-font-size * $golden-ratio;
			display: block;
		}
	}
	ul {
		margin-left: $base-font-size;
	}
	@include minimized-list;
}

// design-y, so sticking in the theme
.m-main-nav {
	@media (min-width:$medium) {
		.nav-item + .nav-item {
			border-left: 1px dotted #ccc;
		}
	}
}